@page
@model SingletonProgram
@{
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>My first app ;) Please don't be strict</p>
    <p>@ViewData["singleton"]</p>
    <p>Created at: @ViewData["timecreated"]</p>
    <p>Worker: @ViewData["workerUser"]</p>
    <p>Worker: @ViewData["workerAdmin"]</p>
    <p>Worker: @ViewData["workerPM"]</p>
</div>
